*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html, body{
	font-family: sans-serif;
}
#header {
	width: 100%;
	height: 80px;
}

#header .container {
	width: 1140px;
	margin: 0px auto;
	height: 80px;
}
#header .container .logo{
	width: 350px;
	float: left;
}
#header .container .logo a {
       text-decoration: none;
       font-size: 30px;
       font-weight: 800;
       color: #000;
       display: block;
       line-height: 80px;
}
#header .container .contact-info {
	float: left;
	width: 790px;
	height: 80px;
}

#header .container .contact-info ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#header .container .contact-info ul li{
        display: inline-block;
        height: 80px;
        margin-left: 80px;	
}
#header .container .contact-info ul li .contact-icon {
	float:  left;
	height: 80px;
	width: 30px;
	line-height: 80px;
}
#header .container .contact-info ul li .contact-text{
	float: left;
	height: 80px;
	color: rgb(0, 0, 0, 0.7);

}
#header .container .contact-info ul li .contact-text label {
	width: 100%;
	display: block;
	font-weight: bold;
	margin-top: 25px;

}
#header .container .contact-info ul li .contact-icon span {

        font-size: 22px;
        color:#2F4F4F ;
        font-color: #ffffff;
 }

#header .container .contact-info ul li a.register{
	text-decoration: none;
	display: block;
	color: #000000;
	width: 150px;
	border-radius: 40px;
	text-align: center;
	background:#2F4F4F ;
	font-size: 16px;
	line-height: 40px;
	float: left;
	margin-top:25px;

}

/* Menu */

#nav {
	width: 100%;
	background: #79CDCD;
       height: 50px;
}
#nav .container {
	width: 1140px;
	margin: 0px auto;
}

#nav .container .menu{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 740px;

}
#nav .container .menu li {
	display: inline-block;


}
#nav .container .menu li a{
	text-decoration: none;
	height: 50px;
	display: block;
	line-height: 50px;
	color: #ffffff;
	padding-right: 40px;

}
#nav .container ul.menu li:first-child a {
	color: #2F4F4F ;
}
#nav .form-search {
	width: 400px;
	float: right;
	position: relative;
	

}
#nav .form-search .Keyword {
	width: 70%;
	font-size: 16px;
	border: 1px solid #ffffff;
	height: 40px;
	margin-top: 5px;
	text-indent: 15px;
	border-radius: 25px;
	color: rgba(255, 255, 255, 0.7);
	background: transparent;

}
#nav .form-search span {
	width: 40px;
	height: 35px;
	border: none;
	position: absolute;
	top: 16px;
	right: 120px;
	background: transparent;
}
#nav .form-search span i {
	color: #000000;
	cursor: pointer;
}
#banner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
#banner img {
	width: 100%;

}
#banner .overflay {
	display: block;
	width: 100%;
	height: 450px;
	background: #000;
	position: absolute;
	top: 0px;
	left: 0px;


}
#feature {
	width: 100%;

}
#feature .container{
	width: 1140px;
	margin: 60px auto;
	min-height: 300px;

}
#feature .container .feature-left,
#feature .container .feature-right {
	float: left;
}
#feature .container .feature-left {
	width: 710px;
}

#feature .container .feature-left .card {
	background: #C6E2FF ;
	float: left;
	width: 300px;
	height: 300px;
	display: block;
	margin-right: 50px;
	padding: 20px 30px ;
	margin-bottom: 50px;
	position: relative;
}
#feature .container .feature-left .desc{
	padding: 15px 15px 30px 0px;
}
#feature .container .feature-left .card i {
	text-align: center;
	color: #0000FF;
	font-size: 50px;
	margin-top: 20px;
}
#feature .container .feature-left .card h2 {
	text-align: center;
	margin-top: 10px;
	color: #2F4F4F ;
	margin-bottom: 25px;

}

#feature .container .feature-left .card p{
	line-height: 28px;
	color: gray;
	text-align: center ;
	font-size: 15px;
}

#feature .container .feature-left .active-card {
	background : #0000FF;

}
  #feature .container .feature-left .active-card .active-icon,
  #feature .container .feature-left .active-card .text-active{
  	color: #ffffff;

  }

 #feature .container .feature-left .card:after {
 	content: '';
  	border-style: solid;
 	border-width: 0 50px 50px 0;
 	height: 0;
 	width: 0;
 	position: absolute;
 	right: 0px;
 	top: 0px;
 	border-color: transparent #ffffff transparent transparent;
 }
#feature .container .feature-right {
	width: 390px;
}
.feature-title{
	color: gray;
	
	font-weight: bold;
	font-size: 20px;
}

#feature .container .feature-right{
	width: 350px;
	background:#2F4F4F;
	padding: 15px;
	border: 5px solid #ffffff;

}

#feature .container .feature-right img{
	width: 100%;
	margin-bottom: 20px;
}
#feature .container .feature-right h3{
	font-size: 17px;
	color: #1C1C1C ;
	margin-bottom: 20px;


}
#feature .container .feature-right p{
	text-align: justify;
	color: #ffffff;
	line-height: 25px;

}
#feature .container .feature-right .contact-us{
	display: block;
	text-decoration: none;
	width: 120px;
	height: 50px;
	border-radius: 20px;
	background:#C6E2FF ;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
}
.guidance {
	width: 100%;
	height: 150px;
	background: url(./anhbiaa.jpg) no-repeat center center;
	background-size: cover;
	clear: both;
	position: relative;
	z-index: 0;




}
.guidance: after{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	content: '';
	z-index: -1;
	opacity: 0.8;
	background: linear-gradient(to right, #1566ad 0%, #1b9de3 100%);
}
.guidance h2{
	text-align: center;
	color: #ffffff;
	line-height: 150px;
}
#service {
	width: 100%;

}
#service .container{
	width: 1140px;
	margin: 100px auto;

}
#service .container h3{
	color: #2F4F4F;
	text-align: center;
	font-size: 30px;

}
#service .container p{
	padding: 20px 0px 20px 0px;
	text-align: center;
	line-height: 28px;
}
#service .container .our-service{
	list-style-type: none;
	margin: 50px 0px 0px 0px;
	padding: 0px;
}
#service .container .our-service li{
	float: left;
	width: 310px;
	background: #C6E2FF;
	margin-right: 50px;
	margin-bottom:50px  ;
}
#service .container .our-service li .icon{
        text-align: center;
        } 
#service .container .our-service li i {
	text-align: center;
	color: #0000FF ;
	font-size: 60px;
}
#service .container .our-service li h2{
	text-align: center;
	color:#2F4F4F;
	font-size: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#service .container .our-service li p{
	color:gray;
	line-height: 28px;
	text-align: center;
}
